<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/prescreen.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/screennav.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/icon.ico') }}"/>
    <title>ASDiagnose: Screening</title>
</head>

<body>
    <div class= 'container'>
        <div class="container_content">
        <div class="container_content_inner">
        <div class="title">
          <h1>Stroke Risk Prediction</h1>
        </div>
        <div class="par">
        <p>
            to avoid major risks and potentially dangerous scenarios, this project will create a system that will allow users to assess their risk of suffering a stroke at an early stage. The system will focus on stroke prediction by incorporating certain characteristics and risks into the predictive models. The targeted variables are age, gender, BMI, average blood glucose level, smoking status, hypertension or heart disease, and other related factors.
        </p>
        </div>

        <form action="{{ url_for('home') }}">
            <div class="btns">
                <button class='btns_more'>take the test</button>
            </div>
        </form>

        </div>
        </div>
         <div class="container_outer_img">
         <div class="img-inner">
         <img src='https://samitivej-prod-new-website.s3.ap-southeast-1.amazonaws.com/public/uploads/descriptions/9a92dff25ca4c71ce3bcf9449274720d.jpg'  alt="" class="container_img"/>
               </div>
             </div>
          </div>
        <div class="overlay"></div>
</body>

</html>